# Ignore everything
/*

# except these files:

# for this git repo
!/.gitignore
!/README.md

# installation
!/.install

# git
!/.gitconfig

# symlinks
!/symlinks/

# vim
!/.vimrc
!/.config/
/.config/*
!/.config/nvim/
/.config/nvim/*
!/.config/nvim/init.vim

# bash
!/.bashrc
!/.bash_profile
!/.bash_logout
!/.bash_aliases
!/.inputrc

!/bin/

# python
!/.pythonrc

# powershell
!/Profile.ps1

# Windows Terminal
!/settings.json

