[user]
	email = rayman.james.e@gmail.com
	name = James Rayman
[init]
	defaultBranch = main
[pull]
	rebase = true
[alias]
	s = status --short
	l = log --oneline -10
	b = branch
	ll = log --oneline
	ch = checkout
