$include /etc/inputrc

set colored-stats on
set show-all-if-ambiguous on
set show-all-if-unmodified on

"\C-l": forward-char
"\C-h": backward-char
"\e`l": forward-word
"\e`h": backward-word

"\C-j": end-of-line
"\C-d": backward-delete-char
"\C-q": quoted-insert

"\C-x ": magic-space
"\C-f": edit-and-execute-command

"\C-v": "\C-av \C-m"
"\C-xv": "\C-e\C-uv \"$(cat <<'END_HEREDOC'\C-m\C-y\C-mEND_HEREDOC\C-m)\"\C-m"
"\C-x\C-v": "\C-xv"

"\e`.": yank-last-arg

"\C-xl": clear-screen
"\C-x\C-l": "\C-xl"

"\eOA": ""
"\eOB": ""
"\eOC": ""
"\eOD": ""
"\e[A": ""
"\e[B": ""
"\e[C": ""
"\e[D": ""
