$include /etc/inputrc

set colored-stats on
set visible-stats on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set mark-symlinked-directories on


"\C-l": forward-char
"\C-h": backward-char
"\C-f": forward-word
"\C-b": backward-word

"\C-w": backward-kill-word

"\C-d": forward-backward-delete-char
"\C-q": quoted-insert

"\C-x ": magic-space
"\C-o": edit-and-execute-command

"\C-v": "\C-av \C-m"
"\C-xv": "\C-e\C-uv \"$(cat <<'END_HEREDOC'\C-m\C-y\C-mEND_HEREDOC\C-m)\"\C-m"
"\C-x\C-v": "\C-xv"

"\C-xl": clear-screen
"\C-x\C-l": "\C-xl"

"\C-xj": end-of-history
"\C-x\C-j": "\C-xj"

"\eOA": ""
"\eOB": ""
"\eOC": ""
"\eOD": ""
"\e[A": ""
"\e[B": ""
"\e[C": ""
"\e[D": ""
